<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hongguo.read">

    <uses-permission
        android:name="android.permission.PROCESS_OUTGOING_CALLS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:node="remove" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 友盟需要权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".BaApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo_hongguo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--统计APPID-->
        <meta-data
            android:name="LBSW_APPID"
            android:value="hongguo" />
        <!--统计域名 由高子印提供-->
        <meta-data
            android:name="LBSW_DOMAIN"
            android:value="014.mxitie.com" />
        <!--应用别名-->
        <meta-data
            android:name="LBSW_ALIAS"
            android:value="${LBSW_ALIAS}" />
        <!--渠道-->
        <meta-data
            android:name="LBSW_FROM"
            android:value="${LBSW_FROM}" />

        <!--单推包书id-->
        <meta-data
            android:name="SINGLE_BOOK_ID"
            android:value="${SINGLE_BOOK_ID}" />
        <!--单推包用户type-->
        <meta-data
            android:name="SINGLE_BOOK_TYPE"
            android:value="${SINGLE_BOOK_TYPE}" />


        <!--Umeng_start-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a1be31fa40fa328a90000a7" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${LBSW_FROM}" />

        <!--华为异形屏适配-->
        <meta-data android:name="android.notch_support" android:value="true"/>

        <activity android:name=".mvp.ui.error.ErrorReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />


        <activity
            android:name=".mvp.ui.loading.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity
            android:name=".mvp.ui.loading.LoadingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LoadingTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.book.BookReaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ReaderStyle"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.ui.book.detail.BookDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.discuss.AllDiscussActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.discuss.WriteDiscussForBookActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name=".mvp.ui.mine.MyPackageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.mypackage.RechargeHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.mypackage.ConsumeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.recharge.RechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.RewardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.QuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.mypackage.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.SkinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.center.UserCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.center.chooseheader.LocalImageChooseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.center.chooseheader.LocalImageDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.center.chooseheader.CropActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.BindAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".mvp.ui.mine.AuthorLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.topic.TopicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.topic.TopicDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.booktype.BookTypeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.booktype.BookTypeWithoutSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.discuss.ReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.reward.RewardTopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.book.chapter.ChapterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.book.chapter.DownChapterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.vip.VipDescribeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.reward.UserRewardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".mvp.ui.vip.VipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity android:name=".widget.online.OnlineActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            />


        <activity
            android:name=".mvp.ui.event.TurntableEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity android:name=".mvp.ui.bookstore.channel.SortDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            />


        <activity
            android:name=".mvp.ui.book.BookEndRecommendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <!--service start-->
        <service android:name="com.hongguo.read.utils.update.ApkDownService" />
        <!--service end-->

        <service android:name=".widget.reader.tts.TTSService" />

        <!--Android 7.0 文件读取权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

    </application>

</manifest>